ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.current-time {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.current-date {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}
body {
  background: url("./images/4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.container {
  height: 80vh;
  position: relative;
  min-height: 700px;
  margin: 5vh 0 5vh 0;
  background-color: rgba(0, 0, 0, 0.73);
}
.city {
  width: 60%;
  height: 100%;
  float: right;
  background: url("./images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 600px;
  position: relative;
}
.title {
  float: right;
  font-family: "Oxygen", sans-serif;
  padding: 30px 30px 0 0;
}
.title h2 {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
}
.title h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-top: 0px;
  text-align: right;
}
.date-time {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 0 80px 10px 80px;
  font-family: "Oxygen", sans-serif;
}
.dmy {
  float: left;
  position: relative;
}
.temperature {
  float: right;
  position: relative;
}
.temperature p {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-weight: 100;
}
.temperature p span {
  font-size: 3rem;
  font-weight: 200;
}
.forecast {
  width: 40%;
}
.forecast-icon {
  padding-top: 20%;
  padding-bottom: 5%;
}
::placeholder {
   text-align: center; 
}
input{
  text-align: center;
}
.forecast-icon h3{
  font-size:  4rem;
  color: white;
  font-weight: 200
}
.today-weather h3 {
  text-transform: capitalize;
  font-size: 3rem;
  color: #fff;
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: 1px solid #eee;
}
.today-weather ul li {
  width: 90%;
  line-height: 40px;
  border-bottom: 1px solid #777;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
}
.today-weather ul li span {
  float: right;
}
.today-weather ul li:nth-child(5) {
  border-bottom: none;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}
.footer-info {
  color: white;
}
.footer-info a {
  color: rgb(147, 248, 255);
  font-weight: 500;
}